* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
p {
    max-resolution: 15px 0;
}

header {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
}

main {
    line-height: 2em;
    max-width: 900px;
    padding: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    left: 50%;
    top: 80%;

    transform: translateX(-50%) translateY(-50%);
}

.countainer {
    position: relative;
    height: 100%;
}


ul {
    list-style: none;
}

li {
    padding: 10px 0;
}


.assignment-number {
    font-size: 2em;
}



a img {
    width: 60%;
    padding: 10%;
}

li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

a {
    display: flex;

}

ul li a {
    text-decoration: none;
    text-align: center;
    position: relative;
}